{% extends 'base.html' %}

{% block tile %}Privacy Polisy{% endblock %}

{% block content %}
  <p>Окно о работе с cookies-файлами. Пользователь дает согласие на использование «куки» в оповещении, которое всплывает при открытии страницы. Ссылку на ПК уместно оставить в этом уведомлении.
Заполнение формы для получения данных. Посетитель вводит имя, email и прочую информацию, а затем ставит галочку о согласии на обработку данных. Обычно ссылку на ПК размещают рядом с этой галочкой.
Футер сайта. Здесь часто размещают ПК, чтобы пользователи могли быстро открыть и просмотреть документ, находясь в любом разделе сайта.</p>
{% endblock %}